$white: #FFFFFF;
$black: #434A54;
$blue: #38AEF0;
$navy: #253141;
$navy-light: #2f3e51;
$gray: #FAFAFA;
$border-line-gray: #eeeeee;
$group-name-black: #333333;
$skyblue: #67c5ff;
$light-gray: #999999;
$footer-gray: #DDDDDD;
$alert_orange: #F35500;
