.notification {
  position: fixed;
  width: 100%;
  z-index: 30;
  .notice {
    background-color: $blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert-orange;
    color: $white;
    text-align: center;
  }
}
