.flash {
  background-color: #38AEF0;
}

// sidebar
.sidebar {
        width: 300px;
        background-color: #2f3e51;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
                      &__user-menu {
                                width: 300px;
                                background-color: #253141;
                                height: 100px;
                                &__user-name {
                                  color: #ffffff;
                                  font-size: 16px;
                                  font-weight: bold;
                                  padding: 35px 0px 0px 20px;
                                  float: left;
                                }
                                &__edit-link {
                                  line-height: 100px;
                                  color: #ffffff;
                                  font-size: 16px;
                                  font-weight: bold;
                                  padding-right: 20px;
                                  float: right;
                                }
                                &__new-link {
                                  line-height: 100px;
                                  color: #ffffff;
                                  font-size: 16px;
                                  font-weight: bold;
                                  padding-right: 10px;
                                  float: right;
                                }
                      }
                      &__group-list {
                                height: 91px;
                                padding-left: 20px;
                                padding-right: 20px;
                                &__title {
                                  color: #ffffff;
                                  font-size: 15px;
                                  padding-top: 20px;
                                  padding-bottom: 5px;
                                }
                                &__comment {
                                  color: #ffffff;
                                  font-size: 11px;
                                  padding-bottom: 40px;
                                }
                      }
}

// mainview
.chat-main {
            min-height: 100vh;
            background-color: #FAFAFA;
            &__header {
                      background-color: #FFFFFF;
                      height: 100px;
                      width: 100%;
                      border-bottom: solid 1px #eeeeee;
                      float: right;
                      position: fixed;
                      &__group-name {
                        padding: 35px 0px 15px 340px;
                        font-size: 20px;
                        color: #333333;
                        float: left;
                      }
                      &__edit-button {
                        font-size: 15px;
                        color: #67c5ff;
                        border: solid 2px #67c5ff;
                        padding: 8px 20px;
                        float: right;
                        margin: 28px 40px 0px 840px;
                        position: fixed;
                      }
                      &__group-member {
                        padding-left: 340px;
                        font-size: 12px;
                        color: #999999;
                        clear: both;
                      }
            }
            &__content {
                      clear: both;
                      padding: 146px 40px 40px 340px;
                      position: relative;
                      &__name {
                        padding-right: 10px;
                      }
                      &__text {
                      }
            }
            &__footer {
              background-color: #DDDDDD;
              height: 90px;
              position: absolute;
              bottom: 0;
              width: 100%;
              position: fixed;
                      &__form {
                        padding-left: 340px;
                                            &__message {
                                              margin-top: 20px;
                                              height: 50px;
                                              width: 940px;
                                              text-indent: 10px;
                                              color: #434A54;
                                              font-size: 16px;
                                            }
                                            &__label {
                                              position: absolute;
                                              bottom: 30px;
                                              right: 170px;
                                                      &__file{
                                                        display: none;
                                                      }
                                            }
                                            &__send-button {
                                              background-color: #38AFE0;
                                              height: 50px;
                                              color: #FFFFFF;
                                              width: 100px;
                                              margin-top: 20px;
                                              margin-bottom: 20px;
                                              margin-left: 15px;
                                              position: fixed;
                                            }
                    }
            }
}
